/* body{
    background-color: #373e4a;
} */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

:root {
    --primary-color: #302ae6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --div-bg: #b5d4ff;
}

[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --div-bg: #373761;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 100%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}

h1 {
    color: var(--heading-color);
    font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

a:hover,
a:focus {
    border-bottom: 3px solid currentColor;
}

section {
    max-width: 68%;
    margin: 0 auto;
}

.post-meta {
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

nav#theme-switch-nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}



/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

/* Switcher Button */
input[type="checkbox"][id="theme-switch-button"] {
    display: none;
}


/* Hamburger Menu */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
    display: block;
    height: 100px;
    width: 100%;
    background: var(--div-bg);
    margin: 0px;
    z-index: 9;
}

#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}

#main-menu li {
    list-style-type: none;
    font-size: 2rem;
}

#main-menu a {
    color: var(--font-color);
    font-size: 1.5rem;
    text-decoration: none;
}

#main-menu a:hover {
    text-decoration: underline;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(to bottom,
            var(--div-bg), var(--div-bg) 20%,
            var(--bg-color) 20%, var(--bg-color) 40%,
            var(--div-bg) 40%, var(--div-bg) 60%,
            var(--bg-color) 60%, var(--bg-color) 80%,
            var(--div-bg) 80%, var(--div-bg) 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: var(--div-bg);
    transition: 0.5s;
    padding: 0px 20px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: var(--font-color);
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: var(--font-color);
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}


@media screen and (max-width: 750px) {
    #main-menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }
}